



<h1>Burgers!</h1>

<img class="image" src="../public/burger.jpg" alt="">

<div id="image"></div>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
    <li>
	    {{this.burger_name}}

	    <button class="eat-burger" info="this" val="{{this.id}}" data-neworder="{{this.devoured}}">
		    {{#if devoured}}GREAT!{{else}}DEVOUR IT{{/if}}
	    </button>

	    <button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
    </li>
    {{/unless}}
  {{/each}}
</ul>


<ul>
  {{#each burgers}}
    {{#if devoured}}
      <li>
	    {{this.burger_name}}

	    <button class="eat-burger" data-id="{{this.id}}" data-newsleep="{{this.devoured}}">
		    {{#if devoured}}GREAT!{{else}}DEVOUR IT!{{/if}}
	    </button>

	    <button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
    </li>
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form>

  <div class="form-group">
    <label for="burger">Burger:</label>
    <input type="text" id="burger" name="name">
  </div>


  <button id="submit" type="submit">Add Burger</button>
</form>



{{!-- <script>
    $(document).on("click", ".eat-burger", (event) => {
    // event.preventDefault()
    console.log("click")
    console.log($(this));
    var value = $(this).attr("data-id")
    console.log(value);
})
</script> --}}
