<li>
	{{burger_name}}

	<button class="eat-burger" value="{{this.id}}" data-neworder="{{devoured}}">
		{{#if devoured}}Dvour{{else}}Re-order{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
